{% include base_path %}
<div class="site-footer">
  <p>&copy; {{ site.time | date: '%Y' }} Yulliwas Ameur</p>
  <nav aria-label="Liens utiles" data-fr-aria="Liens utiles" data-en-aria="Useful links" data-kab-aria="Iseɣwan iwulmen">
    <a href="mailto:yulliwas.ameur@efrei.fr">Email</a>
    <a href="https://cv.hal.science/yulliwas-ameur" target="_blank" rel="noreferrer">HAL</a>
    <a href="https://orcid.org/0000-0003-1435-2982" target="_blank" rel="noreferrer">ORCID</a>
    <a href="https://www.linkedin.com/in/yameur/" target="_blank" rel="noreferrer">LinkedIn</a>
    <a href="https://github.com/yulliwasameur" target="_blank" rel="noreferrer">GitHub</a>
    <a href="{{ base_path }}/cyberresearchradar/" data-radar-link>CyberResearch Radar</a>
  </nav>
</div>
